* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
	background-color: #FFF;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	margin: 20px 15px;
}

h2 {
	color: #c0c0c0;
	margin-bottom: 10px;
	padding-bottom: 3px;
	padding-left: 7px;
	margin-bottom: 25px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-style: solid;

}

a {
	text-decoration: none;
	color: black;
	display: block;
/* 	padding: 8px;
 */}

ul {
	list-style-type: none;
	border: 1px solid #f3f3f3;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

li {
	display: inline;
	float: left
}

li a {
	display: block;
	color: #666;
	text-algin: center;
	text-decoration: none;
	padding: 14px 16px;
}

li a:hover {
	background-color: #e2e2e2;
}

.active {
	background-color: #4CAF50;
}

#Container {
	max-width: 1200px;
	min-width: 960px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10 px;
	background-image:  radial-gradient(circle farthest-corner at 350px 400px, #b61414, #eb4949);
	border: 1px solid #9f9f9f;
	-webkit-box-shadow: 0px 10px 10px 7px rgba(215,215,215,0.85);
	-moz-box-shadow: 0px 10px 10px 7px rgba(215,215,215,0.85);
	box-shadow: 0px 10px 10px 7px rgba(215,215,215,0.85);
	height: auto;
}

.Table-Margin{
	margin-top: 20px;
	vertical-align: center;
	}


.findLove-Button{
	background-color: #FFF;
	color: #000000;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: small;
	padding: 3px 7px 3px 7px;
	text-decoration: none;
	outline-color: #000000;
	margin-right: 15px;
	margin-left: 15px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	-moz-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	border: 1px solid #8b8b8b;
	border-radius: 1.5px;
	-moz-border-radius: 1.5px;
}

.Button-img-Image{
	float: left;
	margin-right: 5px;
	margin-top: 2.5px;

}

.Button-img{
	background-color: #FFF;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	color: #000000;
	font-size: small;
	padding-left: 3px;
	padding-bottom: 5px;
	vertical-align: middle;
	line-height: 29px;  
	text-decoration: none;
	text-align: rigth;
	outline-color: #000000;
	margin-right: 30px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	-moz-box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	box-shadow: inset 0px 0px 3px 2px rgba(225,225,225,0.85);
	border: 1px solid #8b8b8b;
	border-radius: 1.5px;
	-moz-border-radius: 1.5px;
}

.Button-img:hover {
	background: #e8e8e8;
	color: #000;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	text-decoration: none;
}

.findLove-Button:hover {
	background: #e8e8e8;
	color: #000;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	text-decoration: none;
}

.findLove-Table td{
	width: auto;
	height: auto;
}

.findLove-Name{
	min-width: 140px;
}

.findLove-Aehnlichkeit{
	min-width: 140px;
	margin-right: 30px;
}

.findLove-Labelmid{
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	padding: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.findLove-Label{
	padding-top: 8.75px;
	padding-bottom: 8.75px;
	margin-right: 5px;
}

.findLove-Panel{
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	min-width: 500px;
	width: auto;
	padding-left: 12px;
}

.findLove-HPaneltop{
	margin-bottom: 4px;
	padding-top: 3px;
/* 	border-top: 1px solid #c0c0c0;*/
}

.findLove-HPanelbot{
	padding-bottom: 3px;
/*	border-bottom: 1px solid #c0c0c0;*/
}

.login-label{
	text-algin: center;
	font-size: 20px;
}

.login-button{
	background-color: #FFF;
	color: #000000;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.login-panel{
	margin-left: 0 auto;
	margin-right: 0 auto;
	position: absolute;
}

.Attribute-bearbeiten{
	margin-top: 20px;
}

.Eigenschaft-bearbeiten{
	margin-top: 20px;
}

.Eigenschaft-Border{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c0c0c0; 
}

.logout-ja{
	background-color: #FFF;
	color: #000000;
	font-size: small;
	margin-left: 32.766675px;
	margin-right: 32.766675px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-ja:hover{
	background-color: #ff5151;
}

.logout-nein{
	background-color: #FFF;
	color: #000000;
	font-size: small;
	margin-top: 10px;
	margin-left: 32.766675px;
	margin-right: 32.766675px;
	margin-bottom: 5px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-nein:hover{
	background-color: #00c431;
}

.logout-Text{
	margin: 5px;
}

.loeschen-button {
	background-color: #FFF;
	color: #000000;
	float: right;
	font-size: small;
	margin-top: 10px;
	margin-left: 34.76275px;
	margin-right: 34.76275px;
	margin-bottom: 5px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}


.loeschen-ja:hover{
	background-color: #ff5151;;
}

.loeschen-nein:hover{
	background-color: #00c431;
}

#Navi_Container{
	width: auto;
	height: 160px;
	margin-top: 30px;
	margin-bottom: 4px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#Logo{
	float: left;
	height: 160px;
	width: 200px;
	margin-left: 60px;
}

.logo_grotte{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	/* float: right; */
}

#Navi{
	min-width: 650px;
	width: auto;
	padding: 6px; 
	margin-left: 320px;
	background-color: #971111;
	margin-top: 56px;
	height: 36px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
#Navi-Pop{
	height: 53px;
	width: inhert;
	min-width: 130px;
	max-width: 880px;
	float: right;
}

.Navi-Pop-Panel{
	min-width: 650px;
	width: auto;
	padding: 6px; 
	background-color: #d31818;
	margin-top: 5px;
	height: 36px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.navi-panel{
	float: right;
}

.navi-button {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	width: auto;
	outline-color: #000000;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	border: 0px solid #c7c7c7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.navi-button-big{
	width: 150px;
}

.navi-button:hover {
	background: #d7d7d7;
	color: #000;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(200,200,200,0.85);
	text-decoration: none;
}

.navi-button.aktiv {
	background: #d7d7d7;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#Content_Container{
	Padding: 3%;
	heigth: auto;
	overflow: hidden;
	border-top: 1px solid white;
}

#Content{
	background-color: #FFF;
	margin: 5px;
	height: auto;
	min-height: 250px;
	border: 1px solid white;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.gwt-Label{
}

.gwt-TextBox{
	width: 130px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 7px;
}

.gwt-ListBox{
	height: 32px;
	width: 142px;;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	padding-top: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 7px;
}

.gwt-ListBox option{
	padding: 4px ;
	background-color: #b61414 !important;
	color: white !important;
}

.gwt-ListBox option:hover{
	padding: 4px ;
	background-color: red !important;
	color: white !important;
}

.gwt-ListBox option:checked {
  background-color: #FFF !important;
  color: #b61414 !important;
}

.gwt-DateBox{
	width: 130px;
	padding: 6px 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 7px;
} 

.Profil-Anzeigen-Label{
	width: 130px;
	padding-right: 20px;
	padding-top: 4px;
	margin-bottom: 2px;
	padding-left: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}

.Profilbearbeiten-Boxen{
	height: 13px;
	padding-bottom: 5%;
	width: 115px;
}

.Suchprofi-List{
	height: 30px;
	width: 142px;;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	padding-top: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 7px;
}

.Suchprofil-List option{
	padding: 4px ;
	background-color: #b61414 !important;
	color: white !important;
}

.Suchprofil-List option:hover{
	padding: 4px ;
	background-color: red !important;
	color: white !important;
}

.Suchprofil-List option:checked{
	padding: 4px ;
	background-color: red !important;
	color: white !important;
}

.Text-Box-Connector{
	margin-left: 5px;
	margin-right: 5px;
	color: blue;
}

.Margin-Bottom{
	margin-bottom: 20px;
}

.Margin-Top{
	margin-top: 20px;
}

.Eigenschaften-Table{
	
}

.grotte-Button {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	margin-right: 15px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(225,225,225,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(225,225,225,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(225,225,225,0.85);
	border: 1px solid #8b8b8b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.grotte-Button:hover {
	background: #e8e8e8;
	color: #000;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(205,205,205,0.85);
	text-decoration: none;
}

#Inhalt {
	float: left;
	position: relative;
	background-color: #FFF;
	padding: 20px 0px 20px 20px;
	min-height: 300px;
	min-width: 460px;
	width: 47%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Zusatz {
	background-color: #FFF;
	float: right;
	padding: 75px 20px 20px 0px;
	height: auto;
	min-height: 300px;
	min-width: 460px;
	float: right;
	width: 47%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Fusszeile {
	clear: both;
	border-top: 1px solid black;
	min-height: 115px;
	min-width: 860px;
	width: auto;
	background-color: #FFF;
}

.bild_links {
	margin-left: 20px;
	float: left;
	margin-top:10px;
}

.bild_rechts {
	margin-right: 35px;
	margin-top: 40px;
	float: right;
}