* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

body {
	background-color: #e2e2e2;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	margin: 40px 0px 70px;
	
}

a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 8px;
}

ul {
	list-style-type: none;
	border: 1px solid #f3f3f3;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

li {
	display: inline;
	float: left
}

li a {
	display: block;
	color: #666;
	text-algin: center;
	text-decoration: none;
	padding: 14px 16px;
}

li a:hover {
	background-color: #e2e2e2;
}

.active {
	background-color: #4CAF50;
}

#Container {
	max-width: 1200px;
	min-width: 960px;
	margin: 10px auto;
	background-color: #e2e2e2;
}

#Inhalt {
	background-color: #FFF;
	margin: 0 250px;
	min-height: 600px;
	padding: 20px;
	border: 2px solid black;
}

#Oben {
	
}

#Mitte {
	
}

#Navi {
	width: 250px;
	padding: 20px;
	background-color: #ffffff;
}

#Unten {
	padding: 20px;
	clear: both;
	border-top: 5px solid #FFFFFF;
}