* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
	background-color: #FFF;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	margin: 20px 15px;
}

a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 8px;
}

ul {
	list-style-type: none;
	border: 1px solid #f3f3f3;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

li {
	display: inline;
	float: left
}

li a {
	display: block;
	color: #666;
	text-algin: center;
	text-decoration: none;
	padding: 14px 16px;
}

li a:hover {
	background-color: #e2e2e2;
}

.active {
	background-color: #4CAF50;
}

#Container_Report {
	max-width: 1200px;
	min-width: 960px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px auto;
	padding: 10 px;
	/* 	background-color: #b61414;*/
	background-image: radial-gradient(circle farthest-corner at 350px 400px, #b61414, #eb4949);
	border: 1px solid #c0c0c0;
	height: auto;
}

#Body-left {
	float: left;
	position: relative;
	background-color: #FFF;
	padding: 20px 0px 20px 20px;
	min-height: 600px;
	width: 60%;
	border-rigth: 1px solid #808080;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Body-right {
	background-color: #FFF;
	float: right;
	padding: 20px 20px 20px 0px;
	height: auto;
	min-height: 600px;
	float: right;
	width: 30%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.Report-Container {
	background-color: #ce1717;
	min-height: 120px;
	height: auto;
	min-width: 600px;
	width: auto;
	color: #fff;
	border-radius: 5px;
}

.Report-Aehnlichkeit {
	float: left;
	height: 80px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border: 1px solid #fff;
	background-color: #f18585;
	margin-bottom: 25px;
	margin-top: 20px;
	margin-left: 10px;
}

.Report-Aehnlichkeit-Font {
	font-size: 24px;
	float: left;
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-left: 15px;
}

.Report-Attribut {
	width: 220px;
	margin-top: 25px;
	margin-bottom: 10%;
	margin-left: 20%;
}

.Report-Eigenschaft {
	float: right;
	width: 30%;
	margin-top: 25px;
	margin: 10px;
}

.findLove-Table {
	
}

.findLove-Table td {
	width: auto;
	height: auto;
}

.findLove-Labelmid {
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	padding: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.findLove-Label {
	padding-top: 3px;
	padding-bottom: 3px;
}

.findLove-Panel {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	min-width: 500px;
	width: auto;
	padding-left: 12px;
}

.findLove-HPaneltop {
	margin-bottom: 4px;
	padding-top: 3px;
	/* 	border-top: 1px solid #c0c0c0;*/
}

.findLove-HPanelbot {
	padding-bottom: 3px;
	/*	border-bottom: 1px solid #c0c0c0;*/
}

.login-label {
	text-algin: center;
	font-size: 20px;
}

.login-button {
	background-color: #FFF;
	color: #000000;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.login-panel {
	margin-left: 0 auto;
	margin-right: 0 auto;
	position: absolute;
}

.logout-button {
	background-color: #FFF;
	color: #000000;
	float: right;
	font-size: 15px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-button:hover {
	background-color: #e72525;
	color: #FFF;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	margin: 15px;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-ja {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 70px;
	height: 40px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-ja:hover {
	background-color: #ff5151;
}

.logout-nein {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	width: 70px;
	height: 40px;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.logout-nein:hover {
	background-color: #00c431;
}

#Navi {
	
	min-width: 650px;
	width: auto;
	padding: 6px;
	margin-left: 320px;
	background-color: #971111;
	margin-bottom: 56px;
	margin-top: 56px;
	height: 36px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

#Navi_Container {
	width: auto;
	height: 160px;
	margin-top: 30px;
	margin-bottom: 4px;
	border: 1px solid transparent;
}

#Logo {
	float: left;
	height: 160px;
	width: 200px;
	margin-left: 60px;
}

.textlabel{
	font-weight: bold;
	margin-left: 20px;
	
}

.listbox {
	width: 100%;
	border: 1px solid #bbb;
	padding: .75em 1em .5em 1em;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	background-position: right;
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 5px;
}

.listbox-hover {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.navi-panel {
	float: right;
}

.navi-button {
	background-color: #FFF;
	/*-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px; */
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	outline-color: #000000;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.navi-button:hover {
	background: #e72525;
	color: #FFF;
	/* background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434); */
	text-decoration: none;
}

.navi-button.aktiv {
	background: #c0c0c0;
	/* background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px; */
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}

#Content {
	background-color: #FFF;
	margin: 5px;
	height: auto;
	min-height: 250px;
	border: 1px solid white;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Content_Container {
	Padding: 3%;
	heigth: auto;
	overflow: hidden;
	border-top: 1px solid white;
}

#Spalte_links {
	float: left;
	position: relative;
	background-color: #FFF;
	width: 73%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Inhalt {
	float: left;
	position: relative;
	background-color: #FFF;
	padding: 20px 0px 20px 20px;
	min-height: 600px;
	width: 47%;
	border-rigth: 1px solid #808080;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Zusatz {
	background-color: #FFF;
	float: right;
	padding: 20px 20px 20px 0px;
	height: auto;
	min-height: 600px;
	float: right;
	width: 47%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Inhalt_oben {
	/* 	border: 2px solid black; */
	width: inhert;
	margin-bottom: 5px;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

#Inhalt_unten {
	/* 	border: 2px solid black; */
	min-height: 300px;
	width: inhert;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

#Mitte {
	background-color: #FFF;
	padding: 20px 20px 20px 0px;
	/* margin-top: 20px;
	margin-bottom: 20px; */
	height: auto;
	min-height: 600px;
	/* margin-left: 37%;
	margin-right: 27%; */
	float: right;
	width: 47%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#Einstellungen {
	float: right;
	width: 20%;
	height: auto;
	padding: 20px;
	background-color: #fff;
	min-height: 600px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#Fusszeile {
	padding: 20px;
	margin-top: 20px;
	clear: both;
	border-top: 1px solid black;
	min-height: 120px;
	min-width: 860px;
	width: auto;
	background-color: #FFF;
}

.logo_grotte {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	/* float: right; */
}

.bild_links {
	margin-left: 20px;
	float: left;
	vertical-align: middle;
}

.bild_rechts {
	margin-right: 20px;
	float: right;
	vertical-align: middle;
}