<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Seed Start -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.server.SeedServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/lgrotte/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Seed Ende -->
  
  
  <!-- Editor Start -->
  
  <servlet>
    <servlet-name>editorServlet</servlet-name>
    <servlet-class>de.server.editor.EditorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>editorServlet</servlet-name>
    <url-pattern>/lgrotte/editor</url-pattern>
  </servlet-mapping>  
  
  <!-- Seed Ende -->
  
  <!-- Report Start -->
  
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>de.server.report.ReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/reportgenerator/report</url-pattern>
  </servlet-mapping>
  
  <!-- Report Ende -->
  
  
  <!-- LOGIN Start -->
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>de.server.login.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/lgrotte/login</url-pattern>
  </servlet-mapping>
  
  <!-- LOGIN Ende -->
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LGrotte.html</welcome-file>
  </welcome-file-list>

</web-app>
